*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body{
    background-image: url("https://i.ibb.co/qNv7NxZ/pc.webp");
} */

#parent{
    display: flex;
    position: relative; 
}

#child1{
    background-color: lightgray;
    opacity: 0.7;
    /* width: 350px; */
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 40px 0px 40px 60px;
    padding: 20px;
    
}

#child1 input{
    margin-bottom: 30px;
    margin-top: 20px;
    border: none;
    background-color: white;
    width: 220px;
    height: 35px;
    background-color: white;
    opacity: 1;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

#child1 button{
    background-color: rgba(11, 11, 245, 0.977);
    border: none;
    width: 40px;
    height: 35px;
    margin: 40px 0px 30px 0px;
    position: absolute;
    left: 300px;
    top: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#search:focus{
    outline: none;
    border: 2px solid rgba(11, 11, 245, 0.977);
}

#image{
    width: 100px;
    height: 100px;
    margin: 15px auto;
}

#show{
    margin-top: 370px;
}

#child2{
    background-color: whitesmoke;
    width: 1100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 40px 60px 40px 0px;
    padding: 20px;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#left a{
    background-color: whitesmoke;
    border: none;
    margin: 10px 10px 20px 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#week:visited{
    color: blue;
}

#right button{
    background-color: white;
    border: none;
    margin: 0px 25px 20px 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bold;
}

#right button.selected {
    background-color: black;
    color: white;
}

#weeks{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.week{
    background-color: white;
    width: 115px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}

.week img{
    width: 70px;
    height: 60px;
}

.head{
    margin: 30px 0px 30px 10px;
}

#details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dets{
    width: 310px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.dets h6{
    color: gray;
}

.foot{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}
